@using UserPortal.Models
@model RegistrationViewModel
@using UserPortal.Core.Entities
@{
    User U = ViewBag.User;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" rel="stylesheet">




    <title>Registration</title>
</head>
<body>
    <div class="container">
        <div class="container-fluid">
            <div class="row" style="border: 1px solid black; height:50px;">


                <div class="col-sm-6" style="font-size: 30px;"> Navigation</div>
                <div class="col-sm-6">

                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                @U.FirstName
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="/Account/Logout">Logout</a></li>
                                <li><a href="ChangePassword">Change Password</a></li>
                                
                            </ul>
                        </div>
                    </div>



                </div>

            </div>
            <div class="row" style="border: 1px solid black">
                <div class="col-sm-3" style="padding-left: 30px;">

                    <div class="row"><a href="Dashboard">Profile Page </a></div>
                    <div class="row">  Password Change </div>

                </div>



                <div class="col-sm-7" style="border: 1px solid black;">

                    <div class="row" style="margin-bottom:20px;border: 1px solid black;">
                        <div class="col-sm-12" style="text-align:center">
                            Change Password
                        </div>
                    </div>


                    <div class="row" style="margin-left: 40px;">

                        <form>
                            <div class="form-group row">
                                <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Previous Password</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control form-control-sm" id="PreviousPassword" placeholder="col-form-label-sm">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="colFormLabel" class="col-sm-3 col-form-label">New Password</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" id="NewPassword" placeholder="col-form-label">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="colFormLabelLg" class="col-sm-3 col-form-label col-form-label-lg">Confirm Password</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control form-control-lg" id="ConfirmPassword" placeholder="col-form-label-lg">
                                </div>
                            </div>
                        </form>



                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button class="btn btn-default" onclick="LoadItemInfo();">Change Password</button> <button type="submit" class="btn btn-default">Cancel</button>
                            </div>
                        </div>

                    </div>


                </div>


                <div class="col-sm-2"> </div>
            </div>

        </div>
    </div>

</body>
</html>


@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>


    <script>

        function LoadItemInfo() {

            debugger;

            var prepass = $("#PreviousPassword").val();;
            var newpass = $("#NewPassword").val();;
            var cofpass = $("#ConfirmPassword").val();;

            if (newpass == cofpass) {

                var json = { prepass: prepass, newpass: newpass};
                $.ajax({
                    url: '@Url.Action("UserPassChange", "User")',
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (result) {

                        alert(result);

                        window.location.href = 'Dashboard';



                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {

                    },
                    complete: function () {

                    }
                });

            }
            else {

            }


        }


    </script>
}